# Performance analysis at application-level

## Database connection
Establish connection to Neo4j database with performance data.

In [4]:
import py2neo

graph = py2neo.Graph(bolt=True, host='localhost')

## Cypher query
A cypher query is executed and the result is stored in a pandas dataframe.

In [5]:
import pandas as pd

query ="""
MATCH (method1:Method)-[calls:CALLS]->(method2:Method)
RETURN SUM(calls.weight) AS methodCalls
"""
df = pd.DataFrame(graph.run(query).data())

## Analysis and Visualization
The data is analyzed and visualized.

In [6]:
df.head()

   methodCalls
0   2409688701